.background::before {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50vh solid var(--bg-color-1);
  border-left: 50vw solid var(--bg-color-1);
  border-right: 50vw solid var(--bg-color-2);
  border-bottom: 50vh solid var(--bg-color-2);
}
.container {
  max-width: 80rem;
  margin: 4.8rem auto;
  padding-bottom: 8.8rem;
  background-color: #ffffff;
  background-image: radial-gradient(#b3b3b3 1px, #ffffff 1px);
  background-size: 18px 18px;
  overflow-x: hidden;
}
.contentArea {
  width: 76.8rem;
  margin: 4.8rem;
  padding: 4.8rem;
  background-color: var(--bg-color-3);
  border-radius: 4rem;

  /* offset */
  position: relative;
  top: 3.8rem;
  left: 2rem;

  display: grid;
  grid-template-columns: 37rem auto;
  column-gap: 6.4rem;
}
