.background::before {
  /* fancy background! */

  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50vh solid var(--bg-color-1);
  border-left: 50vw solid var(--bg-color-1);
  border-right: 50vw solid var(--bg-color-2);
  border-bottom: 50vh solid var(--bg-color-2);
}
.container {
  max-width: 80rem;
  margin: 4.8rem auto;
  padding-bottom: 8.8rem;

  background-color: white;
  background-image: radial-gradient(var(--gray-2) 1px, white 1px);
  background-size: 18px 18px;
  overflow-x: hidden;
}
.contentArea {
  width: 76.8rem;
  margin: 4.8rem;
  padding: 4.8rem;
  background-color: var(--bg-color-3);
  box-shadow: 2.4rem 2rem 0 var(--color-5);
  border-radius: 4rem;

  /* offset */
  position: relative;
  top: 3.8rem;
  left: 2rem;

  display: grid;
  grid-template-columns: 37rem auto;
  column-gap: 6.4rem;
}
@media print {
  .background::before {
    display: none;
  }
  .container {
    /* to fit container in A4 page*/
    margin: 0;
    padding-bottom: 5.6rem;
    /* only works in chrome, when printing in firefox manually scale the page to 99% */
    zoom: 0.991;
  }
  .contentArea {
    /* to fit in one page*/
    margin: 2.4rem 4.8rem;
  }
}
